.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron.Z {
    background-image: url('./images/zerg.jpg');
}
.jumbotron.P {
    background-image: url('./images/protoss.jpg');
}
.jumbotron.T {
    background-image: url('./images/terran.jpg');
}

.icon {
    width: 50px;
    height: 50px;
}

.icon.Z {
    content: url('./icons/zerg.jpg');
}
.icon.P {
    content: url('./icons/protoss.jpg');
}
.icon.T {
    content: url('./icons/terran.jpg');
}