{% extends 'Compare/base-compare.html' %}
{% block content %}
<div class="p-3">
    <form method="GET">
        {{ compare_form.as_p }}
        <button type="submit" class="btn btn-primary">
            Compare
        </button>
    </form>
</div>
<hr>
<div class="pb-3" id="compare-data">
    <div class="jumbotron">
        <div class="h3">
            승&nbsp;:&nbsp;{{ win_count }},&nbsp;패&nbsp;:&nbsp;{{ lose_count }}
        </div>
    </div>
    <div class="list-group">
        {% for data in player_queryset %}
        {% cycle True False as row silent %}
        {% if row %}
        <div class="list-group-item">
        {% endif %}
            <div class="align-items-center">
                <div class="h3" id="match-name">
                {% if row %}
                {{ data.match.league.name }}
                    <span class="h6 text-secondary">{{ data.match.name }}</span>
                {% endif %}
                </div>
                <div class="">
                    <div class="h4">
                        <!-- 이게 안되네.. -->
                        <a href="{{ data.user.get_absolute_url }}"
                           >{{ data.user.name }}
                            <small>&nbsp;({{ data.race}})
                                </small>
                        </a>
                    {% if data.is_win %}
                        <div class="badge badge-primary">승</div>
                    {% else %}
                        <div class="badge badge-danger">패</div>
                    {% endif %}
                    </div>
                </div>
                <div class="text-secondary">
                {% if row %}
                    <a href="{{ data.match.map.get_absolute_url }}"
                       >{{ data.match.map.name }}
                    </a>
                {% else %}
                    <small>{{ data.match.date }}</small>
                {% endif %}
                </div>
            </div>
        {% if not row or forloop.last %}
        </div>   
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock content %}