<html>
    <head>
        <title>Haley.gg</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" type="text/css" href="/static/base.css/" />
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <!-- <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button> -->
                <div class="navbar-brand">
                    <a href="/" class="navbar-brand">
                        Haley.gg
                    </a>
                </div>
            </div>
        </nav>
        <div class="content container">
            <div class="row flex-nowrap">
                <div class="col-3 bd-sidebar p-3">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="nav-item">
                            <a
                                class="nav-link {% block nav-match %}{% endblock nav-match %}"
                                href="/match/"
                                >전적</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {% block nav-map %}{% endblock nav-map %}"
                                href="/map/"
                                >맵</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {% block nav-rank %}{% endblock nav-rank %}"
                                href="/rank/"
                                >랭킹</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {% block nav-proleague %}{% endblock nav-proleague %}"
                                href="/proleague/"
                                >프로리그</a
                            >
                        </li>
                        <li class="nav-item">
                            <a
                                class="nav-link {% block nav-compare %}{% endblock nav-compare %}"
                                href="/compare/"
                                >비교</a
                            >
                        </li>
                    </ul>
                </div>
                <div class="col-9 pt-3">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        <footer class="page-footer text-center m-3">
            This is footer.
        </footer>
    </body>
</html>