<html>
    <head>
        <title>Haley.gg</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous"
        ></script>
        <link 
            rel="stylesheet"
            type="text/css"
            href="/static/base.css/"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-brand">
                        Haley.gg
                    </a>
                </div>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav nav-pills">
                        <li class="nav-item">
                            <a href="/match/" class="nav-link {% block nav-match %}{% endblock nav-match %}">전적</a>
                        </li>
                        <li class="nav-item">
                            <a href="/map/" class="nav-link {% block nav-map %}{% endblock nav-map %}">맵</a>
                        </li>
                    </ul>
                </div>
                {% block nav-search %}
                {% endblock nav-search %}
            </div>
        </nav>
        <div class="content container">
                {% block content %} {% endblock %}
        </div>
        <footer class="page-footer text-center m-3">
            This is footer.
        </footer>
    </body>
</html>