<html>
    <head>
        <title>Haley.gg</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        <style type="text/css">
            a{
                text-decoration:none;
            }
        </style>
    </head>

    <body>
        <nav class="navbar navbar-expand-md bg-light navbar-light">
            <div class="container">
                <div class="navbar-brand">
                    <a href="/" class="navbar-brand">
                        Haley.gg
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <div class="navbar-nav">
                        <a href="/match/" class="nav-items nav-link">전적</a>
                        <a href="/map/" class="nav-items nav-link">맵</a>
                        <a href="#" class="nav-items nav-link">Tab C</a>
                        <a href="#" class="nav-items nav-link">Tab D</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content container">
            {% block content %} {% endblock %}
        </div>
    </body>
</html>