{% extends 'Maps/base-map.html' %} 
{% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'Maps/detail.css' %}" />
<div class="profile">
    <div class="row map-info bg-dark">
        <div class="col-md-3 m-auto">
            <img class="img m-3" src="{{map.image.url}}" />
        </div>
        <div class="col-md-5 align-self-center">
            <div class="map-name text-white">
                {{map.name}}
            </div>
            <small class="text-secondary">{{map.match_count}} 회 매치</small>
        </div>
    </div>
    <div class="row">
        <table class="table table-white table-hover m-3 text-center ">
            <thead>
                <tr>
                    <th scope="col">종족</th>
                    <th scope="col">vs T</th>
                    <th scope="col">vs Z</th>
                    <th scope="col">vs P</th>
                </tr>
            </thead>
            <tbody>
                {% for winner_race, statistic_datas in winning_rate_dict.items %}
                <tr >
                    <th scope="row" class="align-middle">
                        {{winner_race}}
                    </th>
                    {% for loser_race, stats in statistic_datas.items %}
                        {% if winner_race == loser_race %}
                        <td class="align-middle">{{stats|first}} 전</td>
                        {% else %}
                        <td class="align-middle">
                            {{stats|first}} 승&nbsp;
                            {{stats|last}}%
                        </td>
                        {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{number_of_wins_by_race}}
{% endblock content %}