{% extends 'base.html' %} {% block content %} {% load static %}
<!-- <link rel="stylesheet" href="{% static 'Maps/list.css' %}" /> -->
<div class="container">
    <div class="row py-4 justify-content-center">
        {% for map in maps %}
        <div class="col-md-4 p-3">
            <div class="card">
                <!-- Add view overlay option to this image with bootstrap mask, but postponed.-->
                <a href="{{map.name}}">
                    <img class="card-img-top" src="{{ map.image.url }}" />
                </a>
                <div class="card-body text-center">
                    <a href="{{map.name}}">
                        <h4 class="card-title">
                            {{map.name}}
                        </h4>
                    </a>
                    <div class="card-text">
                        {{map.get_match_count}}회 매치
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}