{% extends 'base.html' %}
{% load static %}
{% block nav-map %}active{% endblock nav-map %}
{% block content %} 
<!-- <link rel="stylesheet" href="{% static 'Maps/list.css' %}" /> -->
<div class="p-3">
    <div class="row justify-content-center">
        {% for map in maps %}
        <div class="col-md-4">
            <div class="card mb-3">
                <a href="{{ map.name }}">
                    <img class="card-img-top" src="{{ map.image.url }}" />
                </a>
                <div class="card-body text-center">
                    <a href="{{ map.get_absolute_url }}">
                        <h4 class="card-title">
                            {{ map.name }}
                        </h4>
                    </a>
                    <div class="card-text text-secondary">
                        {{ map.count }}회 매치
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="new-map/" class="btn text-white" style="background-color: #4a4a4a;">New Map</a>
</div>
{% endblock %}