{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'User/detail.css' %}" />
<div class="profile">
    <div class="jumbotron rounded-0 text-light {{object.most_race}}">
        <h1 class="jumbotron-heading">
            <img class="icon rounded-circle {{object.most_race}}" />
            {{object.name}}
        </h1>
        <h3>{{object.most_race}}</h3>
        <small class="text-secondary">{{object.joined_date}}에 가입</small>
    </div>
</div>
<div class="match-list">
    <ul class="list-group">
            {% for player in match_list %}
            <li
                class="list-group-item {% if player.is_win %}list-group-item-primary{% else %}list-group-item-danger{% endif %}"
            >
                <span class="h5"
                    >{{player.match.league_name}}&nbsp;{{player.match.name}}&nbsp;{{player.match.set}}&nbsp;경기
                </span>
                <small class="text-secondary ml-3 mr-3">{{player.match.date}}</small>
                <span class="h4"
                    >{% for player in player.match.player_set.all %} {{player.user.name}}&nbsp; {% endfor %}
                </span>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}