{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'User/detail.css' %}" />
<div class="profile">
    <div class="jumbotron rounded-0 text-light {{object.most_race}}">
        <h1 class="jumbotron-heading">
            <img class="icon rounded-circle {{object.most_race}}" />
            {{object.name}}
        </h1>
        <h3>{{object.most_race}}</h3>
        <small class="text-secondary">{{object.joined_date}}에 가입</small>
    </div>
</div>
{% endblock content %}