/* .nav-pills .nav-link.active {
    color: #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
    background-color: #FD9B75;
}
.nav-pills .nav-link {
    border-radius: 0;
}
.nav-pills {
    background-color: #FD9B75;
} */