<html>
    <head>
        <title>Haley.gg</title>
        {% load static %}
        {% block header %}
        <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
            crossorigin="anonymous"
        />
        <script
            src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"
        ></script>
        {% endblock header %}
        <link rel="stylesheet" type="text/css" href="/static/base.css/" />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container">
                <a class="navbar-brand" href="{% url 'main_page' %}">Haley.gg</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="nav">
                        <!-- <a class="nav-link nav-item 
                                  {% block active_result %}{% endblock active_result %}" 
                           href="{% url 'stats:result_list' %}">전적보기</a> -->
                        <a class="nav-link nav-item 
                                  {% block active_proleague %}{% endblock active_proleague %}" 
                           href="{% url 'stats:proleague' %}">프로리그</a>
                        <a class="nav-link nav-item 
                                  {% block active_map %}{% endblock active_map %}" 
                           href="{% url 'stats:map_list' %}">맵</a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container p-3">
            {% block content %}{% endblock content %}
        </div>
        <footer class="page-footer text-center m-3">
            This is footer.
        </footer>
    </body>
</html>