{% extends 'base.html' %}
{% load static %}
{% block active_main %}active{% endblock active_main %}

{% block content %}
<div class="m-3 ">
    <form method="GET">
        <div class="row">
            <div class="form-group col-md-9">
                {{ search_player_form.name }}    
            </div>
            <div class="form-group col-md-3">
                <input class="btn btn-primary form-control" type="submit" value="Search"/>
            </div>
        </div>
    </form>
</div>
{% endblock content %}