{% extends 'base.html' %}
{% block title %}맵&nbsp;-&nbsp;{{ object.name }}{% endblock title %}
{% block active_map %}active{% endblock active_map %}

{% block content %}
<div class="text-center">
    {{ object.name }} - {{ object.type }}
</div>
<br>
<div class="d-flex justify-content-center">
    {% for map, win_and_lose_by_race in map_statistics.items %}
        {{ map }}<br>
        {% for key, data in win_and_lose_by_race.items %}
            {{ key }} : {{ data }}<br>
        {% endfor %}
    {% endfor %}
</div>
<hr>
<div>
    {% include 'stats/results/top_players.html' %}
</div>
{% endblock content %}