{% extends 'base.html' %}

{% block active_map %}active{% endblock active_map %}

{% block content %}
<div class="text-center">
    {{ object }}
</div>
<br>
<div class="row d-flex text-center align-items-center">
    <div class="col-md-3">
        {% for data in win_rate_by_race.values %}
            {{ data }}<br>
        {% endfor %}
    </div>
    <div class="col-md-3">
        승률 순위<br>
        {% for player in top_5_players.win_rate %}
            {{ player.player__name }} : {{ player.win_rate|floatformat:1 }} ( {{ player.result_count }} )<br>
        {% endfor %}
    </div>
    <div class="col-md-3">
        승수 순위<br>
        {% for player in top_5_players.win_count %}
            {{ player.player__name }} : {{ player.win_count }}승<br>
        {% endfor %}
    </div>
    <div class="col-md-3">
        다전 순위<br>
        {% for player in top_5_players.result_count %}
            {{ player.player__name }} : {{ player.result_count }}전<br>
        {% endfor %}
    </div>
</div>
{% endblock content %}