{% extends 'base.html' %}
{% load static %}
{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/stats/leagues/style.css/" />
{% endblock header %}

{% block content %}

{% block page_name %}{% endblock page_name %}

{% for key, data in statistics.results.items %}
    {{ key }}<br>
    {% for result in data.values %}
        {{ result }}<br>
    {% endfor %}
    <hr>
{% endfor %}

{% for key, data in statistics.calculator.items %}
    {{ key }}<br>
    {% for result in data.values %}
        {{ result }}<br>
    {% endfor %}
    <hr>
{% endfor %}

<!-- 3중for문 해결하기. -->
{% for league, rank_data_classifier in statistics.ranks.items %}
    {{ league }}<br>
    {% for category, rank_data_list in rank_data_classifier.items %}   
        &lt;&lt; {{ category }} >> <br>
        {% for rank_data in rank_data_list %}
            {{ rank_data.player_name }} : {{ rank_data.value }}<br>
        {% endfor %}
    {% endfor %}
    <hr>
{% endfor %}

{% comment "d" %}
<!--   League Selector   -->
<ul class="nav nav-pills">
    {% for league in statistics.melee.keys %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" 
               data-toggle="tab"
               href="#{{ league }}">
                {{ league|upper }}
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<!--   League content   -->
<div>
</div>
<div class="tab-content">
    {% for league, data in statistics.melee.items %}
        <div class="tab-pane {% if forloop.counter == 1 %}show active{% endif %}" 
             id="{{ league }}">
            <!--   League statistics   -->
            <div class="d-flex justify-content-center">
                {% for win_and_lose_by_race in data.win_and_lose_by_race.values %}
                    {% for key, data in win_and_lose_by_race.items %}
                        {{ key }} : {{ data }} <br>
                    {% endfor %}
                {% endfor %}
            </div>
            <br/>
            {% with top_players=data.top_players %}
                {% include 'stats/results/top_players.html' %}
            {% endwith %}
            <!--   Results   -->
            <hr>
            <div class="h3">
                경기 결과
            </div>
            <hr>
            {% with result_group_list=data %}
                {% include 'stats/results/list.html' %}
            {% endwith %}
        </div>
    {% endfor %}
</div>
{% endcomment %}

{% endblock content %}
