{% extends 'base.html' %}
{% load static %}
{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/stats/leagues/style.css/" />
{% endblock header %}

{% block content %}

{% block page_name %}{% endblock page_name %}

{% for key, value in statistics.melee.top_players.items %}
    {% for item in value %}
        {{ item }}<br>
    {% endfor %}
{% endfor %}

{% for league, win_and_lose_by_race in statistics.melee.total_league_of_win_and_lose_by_race_dict.items %}
    {{ league }}<br>
    {% for key, data in win_and_lose_by_race.items %}
        {{ key }} : {{ data }}<br>
    {% endfor %}
{% endfor %}

<!--   League Selector   -->
<ul class="nav nav-pills">
    {% for league in statistics.melee.leagues %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" 
               data-toggle="tab"
               href="#{{ league.slugify_str }}">
                {{ league }}
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<!--   League content   -->
<div>
</div>
<div class="tab-content">
    {% for league_data in statistics.melee.league_list %}
        <div class="tab-pane {% if forloop.counter == 1 %}show active{% endif %}" 
             id="{{ league_data.league_name }}">
            <!--   League statistics   -->
            <div class="d-flex justify-content-center">
                {% for league_name, win_and_result_count_by_race in league_data.race_relative_count.items %}
                    {% for key, data in win_and_result_count_by_race.items %}
                        {{ key }} : {{ data }} <br>
                    {% endfor %}
                {% endfor %}
            </div>
            <br/>
            {% with top_players=league_data.top_players %}
                {% include 'stats/results/top_players.html' %}
            {% endwith %}
            <!--   Results   -->
            <hr>
            <div class="h3">
                경기 결과
            </div>
            <hr>
            {% with results_groups=league_data.grouped_league_results %}
                {% include 'stats/results/list.html' %}
            {% endwith %}
        </div>
    {% endfor %}
</div>

{% endblock content %}
