{% extends 'base.html' %}
{% load static %}
{% block header %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="/static/stats/leagues/style.css/" />
{% endblock header %}

{% block content %}

{% block page_name %}{% endblock page_name %}

{% comment 'example' %}
{% for league, statistics_data in statistics.items %}
    {{ league }}<br>
    {% for i in statistics_data.race_statistics.values %}
        {{ i }}
    {% endfor %}<br>

    {% with result_group_list=statistics_data.matches %}
        {% include 'stats/results/list.html' %}
    {% endwith %}<br>

    {% with rank=statistics_data.rank %}
        {% include 'stats/results/top_players.html' %}
    {% endwith %}
{% endfor %}

{% endcomment %}

<!--   League Selector   -->
<ul class="nav nav-pills">
    {% for league in statistics.keys %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" 
               data-toggle="tab"
               href="#league-name-{{ league|slugify }}">
                {{ league|upper }}
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<!--   League content   -->
<div class="tab-content">
    {% for league, data in statistics.items %}
        <div class="tab-pane {% if forloop.counter == 1 %}show active{% endif %}" 
             id="league-name-{{ league|slugify }}">
            <!--    Race statistics    -->
            <!--    TODO 
                    Show this data with chart.js   -->
            <div class="d-flex justify-content-center">
                {% for race_statistic in data.race_statistics.values %}
                    {% for key, value in race_statistic.items %}
                        {{ key }} : {{ value }}
                    {% endfor %}
                    <br>
                {% endfor %}
            </div>
            <!--    Ranks    -->
            <hr>
            {% with rank=data.rank %}
                {% include 'stats/results/ranks.html' %}
            {% endwith %}
            <!--   Results   -->
            <hr>
            <div class="h3">
                경기 결과
            </div>
            <hr>
            {% with match_list=data.matches %}
                {% include 'stats/results/list.html' %}
            {% endwith %}
        </div>
    {% endfor %}
</div>

{% endblock content %}
