{% extends 'base.html' %}

{% block active_proleague %}active{% endblock active_proleague %}

{% block content %}
<div class="h3">프로리그 현황</div>
<!--   League Selector   -->
<ul class="nav nav-tabs">
    {% for league in leagues %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" 
               data-toggle="tab"
               href="#{{ league.slugify_str }}">
                {{ league }}
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<!--   League content   -->
<div class="tab-content">
    {% for league, result_dict in league_list %}
        <div class="tab-pane {% if forloop.counter == 1 %}show active{% endif %}" 
             id="{{ league.slugify_str }}">
            <!--   Team ranks   -->
            <table class="table text-center">
                <thead>
                    <tr>
                        <td>Team name</td>
                        <td>Points</td>
                        <td>Win</td>
                        <td>Lose</td>
                        <td>Win (Melee)</td>
                        <td>Lose (Melee)</td>
                        <td>Win (Top and Bottom)</td>
                        <td>Lose (Top and Bottom)</td>
                    </tr>
                </thead>
                <tbody>
                    {% for team in league.teams.all %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>{{ team.points }}</td>
                            <td>{{ team.get_total_win }}</td>
                            <td>{{ team.get_total_lose }}</td>
                            <td>{{ team.melee_win }}</td>
                            <td>{{ team.melee_lose }}</td>
                            <td>{{ team.top_and_bottom_win }}</td>
                            <td>{{ team.top_and_bottom_lose }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            <!--   Results   -->
            {% include 'stats/results/list.html' %}
        </div>
    {% endfor %}
</div>
{% endblock content %}
