{% extends 'base.html' %}

{% block active_proleague %}active{% endblock active_proleague %}

{% block content %}

<div class="h3">프로리그 현황</div>
<!--   League Selector   -->
<ul class="nav nav-tabs">
    {% for league_data in statistics.league_list %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" 
               data-toggle="tab"
               href="#{{ league_data.league.slugify_str }}">
                {{ league_data.league }}
            </a>
        </li>
    {% endfor %}
</ul>
<br>
<!--   League content   -->
<div class="tab-content">
    {% for league_data in statistics.league_list %}
        <div class="tab-pane {% if forloop.counter == 1 %}show active{% endif %}" 
             id="{{ league_data.league.slugify_str }}">
            <!--   Team ranks   -->
            <table class="table text-center">
                <thead>
                    <tr>
                        <td>Team name</td>
                        <td>Points</td>
                        <td>Win</td>
                        <td>Lose</td>
                        <td>Win (Melee)</td>
                        <td>Lose (Melee)</td>
                        <td>Win (Top and Bottom)</td>
                        <td>Lose (Top and Bottom)</td>
                    </tr>
                </thead>
                <tbody>
                    {% for team in league_data.league.teams.all %}
                        <tr>
                            <td>{{ team.name }}</td>
                            <td>{{ team.points }}</td>
                            <td>{{ team.get_total_win }}</td>
                            <td>{{ team.get_total_lose }}</td>
                            <td>{{ team.melee_win }}</td>
                            <td>{{ team.melee_lose }}</td>
                            <td>{{ team.top_and_bottom_win }}</td>
                            <td>{{ team.top_and_bottom_lose }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!--   League statistics   -->
            {% for data in league_data.race_relative_count.values %}
                {{ data }}<br>
            {% endfor %}
            <br>승률 순위<br>
            {% for player in league_data.top_5_players.win_rate %}
                {{ player.player__name }} : {{ player.win_rate }} ( {{ player.result_count }} )<br>
            {% endfor %}
            <br>승수 순위<br>
            {% for player in league_data.top_5_players.win_count %}
                {{ player.player__name }} : {{ player.win_count }}승<br>
            {% endfor %}
            <br>다전 순위<br>
            {% for player in league_data.top_5_players.result_count %}
                {{ player.player__name }} : {{ player.result_count }}전<br>
            {% endfor %}
            <!--   Results   -->
            {% with result_dict=league_data.grouped_league_results %}
                {% include 'stats/results/list.html' %}
            {% endwith %}
        </div>
    {% endfor %}
</div>

{% endblock content %}
