{% extends 'base.html' %}
{% load static %} 
{% block header %}
{{ block.super }}

{% endblock header %} 

{% block content %}
<div class='jumbotron'>
    사용 방법
</div>
<form method='POST' class='need-validations'>
    {% csrf_token %}
    <div class='form-row'>
        {% for field in form %}
            <div class='form-group col'>
                {{ field.label_tag}}
                {{ field }}
                <small class='text-danger'>
                    {{ field.errors.as_text }}
                </small>
            </div>
        {% endfor %}
    </div>
    <hr>
    {{ formset.management_form }}
<!--   Need change to table format.   -->
    <div id='formset_label' class='row text-center mb-3'>
        <div class='col'>라운드</div>
        <div class='col'>게임타입</div>
        <div class='col'>승자</div>
        <div class='col'>승자 종족</div>
        <div class='col'>맵</div>
        <div class='col'>패자</div>
        <div class='col'>패자 종족</div>
        <div class='col'>삭제</div>
    </div>
    <div id='form_set'>
        {% for form in formset %}
            <div class='form-row'>
                {% for field in form %}
                    <div class='form-group col'>
                        {{ field }}
                        <small class='text-danger'>
                            {{ field.errors.as_text }}
                        </small>
                    </div>
                {% endfor %}
                <input class='form-control col btn btn-outline-primary delete_form' 
                       value='Delete' 
                       readonly>
            </div>
        {% endfor %}
    </div>
    <div class='d-flex justify-content-between'>
        <button class='btn btn-success' type='submit'>
            Save
        </button>
        <div id='empty_form' style='display:none'>
            <div class='form-row'>
                {% for field in formset.empty_form %}
                    <div class='form-group col mb-3'>
                        {{ field }}
                        <small class='text-danger'>
                            {{ field.errors.as_text }}
                        </small>
                    </div>
                {% endfor %}
                <input class='form-group col btn btn-outline-primary delete_form'
                       value='Delete' 
                       readonly>
            </div>
        </div>
        <input type='button' class='btn btn-primary' value='Add More' id='add_more'/>
    </div>
</form>
<script type='text/javascript'>
$('#add_more').click(function() {
    // Get total form count.
	var form_idx = $('#id_form-TOTAL_FORMS').val();
    // Append form to formset.
	$('#form_set').append($('#empty_form').html().replace(/__prefix__/g, form_idx));
    // Update total form count.
	$('#id_form-TOTAL_FORMS').val(parseInt(form_idx) + 1);
    AddDeleteEventToForm();
});
    
$('#form_set').ready(function(){
    AddDeleteEventToForm();
});

function AddDeleteEventToForm(){
    $('.delete_form').on('click', function() {
        // Get current form index.
        var current_form_index = $('.delete_form').index(this);
        console.log(current_form_index);
        // Get total form count.
        var form_idx = $('#id_form-TOTAL_FORMS').val();
        // Remove current form.
        $('#form_set .form-row')[current_form_index].remove();
        // Update form's index after current form.
        $.each($('#form_set .form-row').slice(current_form_index), function(index, item){ 
            ChangeElementIdAndName($(this).find('select'), index + current_form_index);
            ChangeElementIdAndName($(this).find('input'), index + current_form_index);
            var for_list = $(this).find('label')
            for(var i=0; i<for_list.length; ++i){
                var new_for = for_list[i].for.replace(/\d+/, index + current_form_index);
                for_list[i].for = new_for;
            }
        });
        // Update total form count.
        $('#id_form-TOTAL_FORMS').val(parseInt(form_idx) - 1);
    });
}

function ChangeElementIdAndName(element, index){
    for(var i=0; i<element.length; ++i){
        var new_id = element[i].id.replace(/\d+/, index);
        var new_name = element[i].name.replace(/\d+/, index);
        element[i].id = new_id;
        element[i].name = new_name;
    }
}
</script>
{% endblock content %}