a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: grey;
}
body {
    background-color:#dddddd;
}

body > .container {
    background-color:#ffffff;
}