a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: grey;
}
body {
    background-color:#DDDDDD;
}

body > .container {
    background-color:#FFFFFF;
}

.navbar {
    background-color:#FDA988;
}

.navbar-nav .active > .nav-link {
    color: #FFFFFF;
    border-bottom: 4px solid #FFFFFF;
}