{% extends 'base.html' %}

{% block title %}
{% if compare %}
    {{ compare.player }} vs {{ compare.opponent }}
{% else %}
    상대전적
{% endif %}
{% endblock title %}

{% block active_compare %}active{% endblock active_compare %}

{% block content %}
<!--   compare user form   -->
<form method="GET">
    <div class="form-group row">
        <div class="col-md">
            {% for form in compare_user_form %}
                <div class="form-group row">
                    <label class="col-2 col-form-label">
                        {{ form.label }}
                    </label>
                    <div class="col">
                        {{ form }}
                        <small class='text-danger'>
                            {{ form.errors.as_text }}
                        </small>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="form-group col-md d-flex align-items-center">
            <button class="form-control btn btn-primary" type="submit">
                Search
            </button>
        </div>
    </div>
</form>
<hr>
<!--   compare data   -->
{{ compare.data.statistics }}
<!--   Results   -->
{% with results_groups=compare.data.results %}
    {% include 'stats/results/list.html' %}
{% endwith %}
{% endblock content %}