a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
    color: grey;
}

.content{
    background-color:#dadada;
    height: auto;
}
.navbar{
    background-color:#FFB291;
    border-bottom:0px;
}

.navbar-nav > li > a.active {
    background-color: #FF6F30!important;
}