{% extends 'base.html' %} 
{% block title %}{{ player.name }} - 전적, 통계{% endblock title %}
{% block content %}
{% load static %}
<div class="profile">
    <!--   Profile   -->
    <div class="rounded-0 text-secondary bg-light p-3 {{ player.most_race }}">
        <div class="h1">
            {{ player.name }}
            <span class="h4">
                {{ player.most_race }}
            </span>
            <span class="h3">
                &#65372;
                {{ player.tier }}
                &#65372;
                {% for i in career.stars %}
                    &#9733;
                {% endfor %}
            </span>
        </div>
        <small class="text-secondary">
            {{ player.joined_date }}에 가입
        </small>
        <!--   Career   -->
        <div>
            {% for badge in career.badges %}
                {{ badge|safe }}
            {% endfor %}
        </div>
        <hr>
        
        <div class="text-left">
            {{ career.converted_career|linebreaks }}
        </div>
    </div>

    <!--   Recent Results   -->
    <div class="m-3">
        <div class="h2">
            최근 전적
            <span class="h4">
                총 승률 : {{ win_rate }}%&nbsp;|&nbsp;{{ streak }}연승
            </span>
        </div>
    </div>
    {% include 'stats/results/list.html' %}

    <!--   Win rate by race   -->
    <hr>
    <div class="">
        <div class="h2">
            종족별 승률
        </div>
        {% for key, value in win_rate_by_race_dict.items %}
            {{ key }} : {{ value }}<br>
        {% endfor %}
    </div>
</div>
{% endblock content %}