{% extends 'base.html' %} {% block content %} {% load static %}
<div class="profile">
    <!--   Player   -->
    <div class="jumbotron rounded-0 text-secondary text-center {{ player.most_race }}">
        <div class="h1">
            {{ player.name }}
            <span class="h4 text-secondary">{{ player.most_race }}</span>
        </div>
        <small class="text-secondary">{{ player.joined_date }}에 가입</small>
    </div>

    <!--   Career   -->
    <hr>
    <div class="h2 m-3">커리어</div>
    <div class="jumbotron rounded-0 ">
        {{ player.career }}
    </div>
        
    <!--   Recent Results   -->
    <hr>
    <div class="m-3">
        <div class="h2">
            최근 전적
            <span class="h4">
                총 승률 : {{ win_rate.0 }}%
            </span>
        </div>
    </div>
    {% include 'stats/results/list.html' %}

    <!--   Win rate by race   -->
    <hr>
    <div class="h2">
        종족별 승률
    </div>
    <div class="">
        {% for key, value in win_rate_by_race_dict.items %}
            {{ key }} : {{ value }}<br>
        {% endfor %}
    </div>
</div>
{% endblock content %}