{% extends 'Stats/base-stats.html' %} {% block content %} {% load static %} {% load bootstrap4 %}
<div class="container p-3">
    <div class="h4">Create Match</div>
    <hr>
    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
            <div class="form-group col-md-3">
            {% bootstrap_form match_form %}
            </div>
        <hr>
        {{ player_formset.management_form}}
        <div class="form-row player-form" id="form-container">
            {% for player_form in player_formset %}
                <div class="form-group col-md-5 m-2">
                    {% bootstrap_form player_form %}
                </div>
            {% endfor %}
        </div>
        <hr/>
        <button type="submit" class="btn btn-success">
            Save
        </button>
    </form>
</div>
{% endblock %}