{% extends 'Stats/base_stats.html' %} {% block content %} {% load static %}
    <form method="POST" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="form-group form-row">
            <div class="form-group-item">
                {{match_form.as_p}}
            </div>
        </div>
        <hr>
<!-- This inserts the management form into the page which includes hidden inputs that contain information about the number of forms being displayed and is used by Django when the form is submitted. -->
        {{player_formset.management_form}}
        <div class="form-row player-form" id="form-container">
            {% for player_form in player_formset %}
                <div class="table col-md-10">
                    {{ player_form.as_table }}
                </div>
            {% endfor %}
        </div>
        <div id="empty_form" style="display:none">
            <table class='no_error'>
                {{ player_formset.empty_form }}
            </table>
        </div>
        <button id="add-form" type="button" class="btn btn-primary">
            Add Players
        </button>
        <hr>
        <button type="submit" class="btn btn-success">
            Save
        </button>
    </form>
<script>
</script>
{% endblock %}