{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container">
    <div class="text-center h2 mt-3 mb-3">
        Current Matches
    </div>
    <ul class="list-group m-3">
        {% for match in matches %}
        <li class="list-group-item">
            <div class="d-flex justify-content-between align-items-center">
                {{match.league_name}} {{match.name}} {{match.set}}경기
                <div class="result">
                    <span class="h2 mr-2">
                        {% for player in match.player_set.all %} 
                            {% if forloop.counter0|divisibleby:'2' %}
                            <a href="/user/{{player.user.name}}/">
                                {{player.user.name}}
                            </a>
                            {% endif %}
                        {% endfor %}
                    </span>
                    <span class="badge badge-primary">
                    </span>
                    <span class="text-secondary">
                        &nbsp;{{match.map}}&nbsp;
                    </span>
                    <span class="badge badge-primary">
                    </span>
                    <span class="h2 ml-2">
                        {% for player in match.player_set.all %} 
                            {% if not forloop.counter0|divisibleby:'2' %}
                            <a href="/user/{{player.user.name}}">
                                {{player.user.name}}
                            </a>
                            {% endif %} 
                        {% endfor %}
                    </span>
                </div>
                <div class="text-secondary">
                    <small>{{match.date}}</small>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}