{% extends 'base.html' %} {% block content %} {% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"
></script>
<link rel="stylesheet" href="{% static 'User/detail.css' %}" />
<script type="text/javascript" src="{% static 'User/chart.js' %}"></script>


<div class="profile">
    <div class="jumbotron rounded-0 text-light {{ user.most_race }}">
        <h1 class="jumbotron-heading">
            <img class="icon rounded-circle {{ user.most_race }}" />
            {{ user.name }}
            <span class="h4 text-secondary">({{ user.most_race }})</span>
        </h1>
        <h3></h3>
        <small class="text-secondary">{{ user.joined_date }}에 가입</small>
    </div>
    <hr>
    <div class="h2 m-3">커리어</div>
    <div class="jumbotron rounded-0 ">
        {{ user.career }}
    </div>
</div>
<hr>

<div class="statistics-summary">
    <div class="h2 m-3">최근 전적 - 승률 : {{ winning_rate }}%&nbsp;{{ winning_status }}</div>
</div>

<div class="match-list">
    <div class="list-group">
        {% for data in match_queryset %}
        {% cycle True False as row silent %}
        {% if row %}
        <div class="list-group-item">
        {% endif %}
            <div class="align-items-center">
                <div class="h3" id="match-name">
                {% if row %}
                {{ data.match.league.name }}
                    <span class="h6 text-secondary">{{ data.match.name }}</span>
                {% endif %}
                </div>
                <div class="">
                    <div class="h4">
                        <a href="{{ data.user.get_absolute_url }}"
                           >{{ data.user.name }}
                            <small>&nbsp;({{ data.race}})
                                </small>
                        </a>
                    {% if data.is_win %}
                        <div class="badge badge-primary">승</div>
                    {% else %}
                        <div class="badge badge-danger">패</div>
                    {% endif %}
                    </div>
                </div>
                <div class="text-secondary">
                {% if row %}
                    <a href="{{ data.match.map.get_absolute_url }}"
                       >{{ data.match.map.name }}
                    </a>
                {% else %}
                    <small>{{ data.match.date }}</small>
                {% endif %}
                </div>
            </div>
        {% if not row or forloop.last %}
        </div>   
        {% endif %}
        {% endfor %}
    </div>
</div>
<hr>

<div class="statistics p-3">
    <div class="h2">
        통산 전적 승률
    </div>
    <div class="h4 row justify-content-center">
        <div class="col-md-4">
        {% for key, value in winning_rate_by_race.items %}
            <!-- <canvas id="pieChart"></canvas> -->
            <div class="">
                {{ key }} : {{ value }}
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<script type="text/javascript">
// new_chart("pieChart", '{{ winning_rate_by_race.keys }}', {{ winning_rate_by_race.values }});
// {% for race, rates in winning_rate_by_race.items %}
// {% endfor %}
</script>
{% endblock content %}